USE [master]
GO
/****** Object:  Database [Банк-63]    Script Date: 02.03.2018 11:06:01 ******/
CREATE DATABASE [Банк-63]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Банк-63', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVER\MSSQL\DATA\Банк-63.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Банк-63_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVER\MSSQL\DATA\Банк-63_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Банк-63].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Банк-63]
GO
/****** Object:  Table [dbo].[БалансыКлиентов]    Script Date: 02.03.2018 11:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[БалансыКлиентов](
	[КодКлиента] [bigint] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[ТекущСальдоСчёта] [money] NOT NULL,
 CONSTRAINT [PK_БалансыКлиентов] PRIMARY KEY CLUSTERED 
(
	[КодКлиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 02.03.2018 11:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[КодКлиента] [bigint] NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[ДрИнициаллы] [nvarchar](50) NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Адрес] [nvarchar](50) NOT NULL,
	[ИдентБанкСчета] [nchar](15) NOT NULL,
	[ТекущСальдоСчёта] [money] NOT NULL,
	[ДатаОткрСчёта] [datetime] NOT NULL,
 CONSTRAINT [PK_Клиенты] PRIMARY KEY CLUSTERED 
(
	[КодКлиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ТипыОпераций]    Script Date: 02.03.2018 11:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТипыОпераций](
	[КодТипа] [int] IDENTITY(1,1) NOT NULL,
	[ОписаниеОперации] [nvarchar](50) NOT NULL,
	[ТипКредитаДебета] [bit] NOT NULL,
	[ВлияниеОперацийНаБаланс] [bit] NOT NULL,
 CONSTRAINT [PK_ТипыОпераций] PRIMARY KEY CLUSTERED 
(
	[КодТипа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ФинансовыеОперацииКлиентов]    Script Date: 02.03.2018 11:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ФинансовыеОперацииКлиентов](
	[КодОперации] [bigint] IDENTITY(1,1) NOT NULL,
	[КодКлиента] [bigint] NOT NULL,
	[ТипОперации] [int] NOT NULL,
	[ДатаОперации] [datetime] NOT NULL CONSTRAINT [ФОпКЛ_ДатаОпер]  DEFAULT (getdate()),
	[Сумма] [numeric](18, 5) NOT NULL,
	[КодФинансогоПродуктаКл] [bigint] NULL,
 CONSTRAINT [PK_КодОперации] PRIMARY KEY CLUSTERED 
(
	[КодОперации] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ФинансовыеПрдуктыКлиентов]    Script Date: 02.03.2018 11:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ФинансовыеПрдуктыКлиентов](
	[КодФПрКл] [bigint] IDENTITY(1,1) NOT NULL,
	[КодКлиента] [bigint] NOT NULL,
	[КодФинансПрод] [bigint] NOT NULL,
	[Сумма] [money] NOT NULL,
	[ЧастотаПлатежа] [nchar](10) NULL,
	[ТребДатаОплаты] [datetime] NOT NULL,
	[ДатаВнесПослПлатежа] [datetime] NULL,
 CONSTRAINT [PK_Финансовые Прдукты Клиентв] PRIMARY KEY CLUSTERED 
(
	[КодФПрКл] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ФинансовыеПродукты]    Script Date: 02.03.2018 11:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ФинансовыеПродукты](
	[КодПродукта] [bigint] IDENTITY(1,1) NOT NULL,
	[НазваниеПродукта] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Финансовые продукты] PRIMARY KEY CLUSTERED 
(
	[КодПродукта] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[КоличТранза]    Script Date: 02.03.2018 11:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[КоличТранза]
AS
Select	dbo.Клиенты.КодКлиента,dbo.Клиенты.Фамилия,dbo.Клиенты.Имя,
		COUNT(dbo.ФинансовыеОперацииКлиентов.КодОперации) AS КолТранзакций
FROM	(dbo.Клиенты INNER JOIN dbo.ФинансовыеОперацииКлиентов ON dbo.Клиенты.КодКлиента = dbo.ФинансовыеОперацииКлиентов.КодКлиента) 
		INNER JOIN dbo.ТипыОпераций ON dbo.ФинансовыеОперацииКлиентов.ТипОперации = dbo.ТипыОпераций.КодТипа
Group by dbo.Клиенты.КодКлиента,dbo.Клиенты.Фамилия,dbo.Клиенты.Имя


GO
/****** Object:  View [dbo].[РейтингКлиентов]    Script Date: 02.03.2018 11:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[РейтингКлиентов]
AS
Select	dbo.Клиенты.КодКлиента,dbo.Клиенты.Фамилия,dbo.Клиенты.Имя,
		COUNT(dbo.ФинансовыеПрдуктыКлиентов.КодФинансПрод) AS КолФинансУслуг
FROM	(dbo.Клиенты INNER JOIN dbo.ФинансовыеПрдуктыКлиентов ON dbo.Клиенты.КодКлиента = dbo.ФинансовыеПрдуктыКлиентов.КодКлиента) 
		INNER JOIN dbo.ФинансовыеПродукты ON dbo.ФинансовыеПрдуктыКлиентов.КодФинансПрод = dbo.ФинансовыеПродукты.КодПродукта
Group by dbo.Клиенты.КодКлиента,dbo.Клиенты.Фамилия,dbo.Клиенты.Имя

GO
/****** Object:  View [dbo].[СписоктекущКлиентов]    Script Date: 02.03.2018 11:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[СписоктекущКлиентов]
AS
Select	dbo.Клиенты.Фамилия + ' ' + dbo.Клиенты.Имя AS Фио, 
		dbo.ТипыОпераций.ОписаниеОперации, 
		dbo.ФинансовыеОперацииКлиентов.ДатаОперации, 
		dbo.ФинансовыеОперацииКлиентов.Сумма
FROM	(dbo.Клиенты INNER JOIN dbo.ФинансовыеОперацииКлиентов ON dbo.Клиенты.КодКлиента = dbo.ФинансовыеОперацииКлиентов.КодКлиента) 
		INNER JOIN dbo.ТипыОпераций ON dbo.ФинансовыеОперацииКлиентов.ТипОперации = dbo.ТипыОпераций.КодТипа
Where	(DATEPART(mm, dbo.ФинансовыеОперацииКлиентов.ДатаОперации) = DATEPART(mm, getdate()))
		AND (DATEPART(yyyy,dbo.ФинансовыеОперацииКлиентов.ДатаОперации) = DATEPART(yyyy, getdate()))

GO
/****** Object:  View [dbo].[ФинансПродКлиент]    Script Date: 02.03.2018 11:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[ФинансПродКлиент]
AS
Select	dbo.Клиенты.Фамилия + ' ' + dbo.Клиенты.Имя AS Фио,
		dbo.ФинансовыеПродукты.НазваниеПродукта,
		dbo.ФинансовыеПрдуктыКлиентов.Сумма
FROM	(dbo.Клиенты INNER JOIN dbo.ФинансовыеПрдуктыКлиентов ON dbo.Клиенты.КодКлиента = dbo.ФинансовыеПрдуктыКлиентов.КодКлиента) 
		INNER JOIN dbo.ФинансовыеПродукты ON dbo.ФинансовыеПрдуктыКлиентов.КодФинансПрод = dbo.ФинансовыеПродукты.КодПродукта

GO
SET IDENTITY_INSERT [dbo].[БалансыКлиентов] ON 

INSERT [dbo].[БалансыКлиентов] ([КодКлиента], [Фамилия], [Имя], [ТекущСальдоСчёта]) VALUES (1, N'Иванов', N'Иван', 212.0000)
INSERT [dbo].[БалансыКлиентов] ([КодКлиента], [Фамилия], [Имя], [ТекущСальдоСчёта]) VALUES (2, N'Петров', N'Петя', 12345.0000)
INSERT [dbo].[БалансыКлиентов] ([КодКлиента], [Фамилия], [Имя], [ТекущСальдоСчёта]) VALUES (3, N'Кузнецов', N'Александр', 572.0000)
SET IDENTITY_INSERT [dbo].[БалансыКлиентов] OFF
INSERT [dbo].[Клиенты] ([КодКлиента], [Фамилия], [ДрИнициаллы], [Имя], [Адрес], [ИдентБанкСчета], [ТекущСальдоСчёта], [ДатаОткрСчёта]) VALUES (2, N'Петров', N'ПП', N'Петя', N'Омск', N'12345          ', 12345.0000, CAST(N'2015-01-04 00:00:00.000' AS DateTime))
INSERT [dbo].[Клиенты] ([КодКлиента], [Фамилия], [ДрИнициаллы], [Имя], [Адрес], [ИдентБанкСчета], [ТекущСальдоСчёта], [ДатаОткрСчёта]) VALUES (4, N'Юрьевич', N'АА', N'Павел', N'Омск', N'123            ', 0.0000, CAST(N'2018-01-09 00:00:00.000' AS DateTime))
INSERT [dbo].[Клиенты] ([КодКлиента], [Фамилия], [ДрИнициаллы], [Имя], [Адрес], [ИдентБанкСчета], [ТекущСальдоСчёта], [ДатаОткрСчёта]) VALUES (5, N'Савельев', N'ТП', N'Даниил', N'Омск', N'67980          ', 0.0000, CAST(N'2018-02-01 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ТипыОпераций] ON 

INSERT [dbo].[ТипыОпераций] ([КодТипа], [ОписаниеОперации], [ТипКредитаДебета], [ВлияниеОперацийНаБаланс]) VALUES (2, N'Ввод', 1, 1)
INSERT [dbo].[ТипыОпераций] ([КодТипа], [ОписаниеОперации], [ТипКредитаДебета], [ВлияниеОперацийНаБаланс]) VALUES (4, N'Вывод', 1, 1)
INSERT [dbo].[ТипыОпераций] ([КодТипа], [ОписаниеОперации], [ТипКредитаДебета], [ВлияниеОперацийНаБаланс]) VALUES (5, N'Депозит', 1, 1)
SET IDENTITY_INSERT [dbo].[ТипыОпераций] OFF
SET IDENTITY_INSERT [dbo].[ФинансовыеОперацииКлиентов] ON 

INSERT [dbo].[ФинансовыеОперацииКлиентов] ([КодОперации], [КодКлиента], [ТипОперации], [ДатаОперации], [Сумма], [КодФинансогоПродуктаКл]) VALUES (18, 2, 4, CAST(N'2018-03-02 00:00:00.000' AS DateTime), CAST(1000.00000 AS Numeric(18, 5)), NULL)
INSERT [dbo].[ФинансовыеОперацииКлиентов] ([КодОперации], [КодКлиента], [ТипОперации], [ДатаОперации], [Сумма], [КодФинансогоПродуктаКл]) VALUES (19, 2, 6, CAST(N'2018-03-02 00:00:00.000' AS DateTime), CAST(400.00000 AS Numeric(18, 5)), NULL)
INSERT [dbo].[ФинансовыеОперацииКлиентов] ([КодОперации], [КодКлиента], [ТипОперации], [ДатаОперации], [Сумма], [КодФинансогоПродуктаКл]) VALUES (20, 4, 5, CAST(N'2018-02-02 12:32:32.897' AS DateTime), CAST(500.00000 AS Numeric(18, 5)), NULL)
SET IDENTITY_INSERT [dbo].[ФинансовыеОперацииКлиентов] OFF
SET IDENTITY_INSERT [dbo].[ФинансовыеПрдуктыКлиентов] ON 

INSERT [dbo].[ФинансовыеПрдуктыКлиентов] ([КодФПрКл], [КодКлиента], [КодФинансПрод], [Сумма], [ЧастотаПлатежа], [ТребДатаОплаты], [ДатаВнесПослПлатежа]) VALUES (1, 2, 2, 8000.0000, NULL, CAST(N'2016-01-02 00:00:00.000' AS DateTime), CAST(N'2016-11-02 00:00:00.000' AS DateTime))
INSERT [dbo].[ФинансовыеПрдуктыКлиентов] ([КодФПрКл], [КодКлиента], [КодФинансПрод], [Сумма], [ЧастотаПлатежа], [ТребДатаОплаты], [ДатаВнесПослПлатежа]) VALUES (2, 4, 4, 2000.0000, NULL, CAST(N'2015-01-01 00:00:00.000' AS DateTime), CAST(N'2015-11-01 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ФинансовыеПрдуктыКлиентов] OFF
SET IDENTITY_INSERT [dbo].[ФинансовыеПродукты] ON 

INSERT [dbo].[ФинансовыеПродукты] ([КодПродукта], [НазваниеПродукта]) VALUES (1, N'Ссуда')
INSERT [dbo].[ФинансовыеПродукты] ([КодПродукта], [НазваниеПродукта]) VALUES (2, N'Кредит')
INSERT [dbo].[ФинансовыеПродукты] ([КодПродукта], [НазваниеПродукта]) VALUES (3, N'Займ')
SET IDENTITY_INSERT [dbo].[ФинансовыеПродукты] OFF
ALTER TABLE [dbo].[ФинансовыеОперацииКлиентов]  WITH CHECK ADD  CONSTRAINT [FK_ФинансовыеОперацииКлиентов_Клиенты] FOREIGN KEY([КодКлиента])
REFERENCES [dbo].[Клиенты] ([КодКлиента])
GO
ALTER TABLE [dbo].[ФинансовыеОперацииКлиентов] CHECK CONSTRAINT [FK_ФинансовыеОперацииКлиентов_Клиенты]
GO
ALTER TABLE [dbo].[ФинансовыеОперацииКлиентов]  WITH CHECK ADD  CONSTRAINT [FK_ФинансовыеОперацииКлиентов_ТипыОпераций] FOREIGN KEY([ТипОперации])
REFERENCES [dbo].[ТипыОпераций] ([КодТипа])
GO
ALTER TABLE [dbo].[ФинансовыеОперацииКлиентов] CHECK CONSTRAINT [FK_ФинансовыеОперацииКлиентов_ТипыОпераций]
GO
ALTER TABLE [dbo].[ФинансовыеОперацииКлиентов]  WITH CHECK ADD  CONSTRAINT [FK_ФинансовыеОперацииКлиентов_ФинансовыеПрдуктыКлиентов] FOREIGN KEY([КодФинансогоПродуктаКл])
REFERENCES [dbo].[ФинансовыеПрдуктыКлиентов] ([КодФПрКл])
GO
ALTER TABLE [dbo].[ФинансовыеОперацииКлиентов] CHECK CONSTRAINT [FK_ФинансовыеОперацииКлиентов_ФинансовыеПрдуктыКлиентов]
GO
ALTER TABLE [dbo].[ФинансовыеПрдуктыКлиентов]  WITH CHECK ADD  CONSTRAINT [FK_ФинансовыеПрдуктыКлиентов_Клиенты] FOREIGN KEY([КодКлиента])
REFERENCES [dbo].[Клиенты] ([КодКлиента])
GO
ALTER TABLE [dbo].[ФинансовыеПрдуктыКлиентов] CHECK CONSTRAINT [FK_ФинансовыеПрдуктыКлиентов_Клиенты]
GO
ALTER TABLE [dbo].[ФинансовыеПрдуктыКлиентов]  WITH CHECK ADD  CONSTRAINT [FK_ФинансовыеПрдуктыКлиентов_ФинансовыеПродукты] FOREIGN KEY([КодФинансПрод])
REFERENCES [dbo].[ФинансовыеПродукты] ([КодПродукта])
GO
ALTER TABLE [dbo].[ФинансовыеПрдуктыКлиентов] CHECK CONSTRAINT [FK_ФинансовыеПрдуктыКлиентов_ФинансовыеПродукты]
GO
ALTER TABLE [dbo].[ФинансовыеПрдуктыКлиентов]  WITH CHECK ADD  CONSTRAINT [CK_Финансовые Прдукты Клиентв] CHECK  (([Сумма]>=(0)))
GO
ALTER TABLE [dbo].[ФинансовыеПрдуктыКлиентов] CHECK CONSTRAINT [CK_Финансовые Прдукты Клиентв]
GO
ALTER TABLE [dbo].[ФинансовыеПрдуктыКлиентов]  WITH NOCHECK ADD  CONSTRAINT [ФПРКЛ_ПроверкаДат] CHECK  (([ДатаВнесПослПлатежа]>=[ТребДатаОплаты]))
GO
ALTER TABLE [dbo].[ФинансовыеПрдуктыКлиентов] CHECK CONSTRAINT [ФПРКЛ_ПроверкаДат]
GO
USE [master]
GO
